#post-page-outer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#pp-username-and-caption {
    display: flex;
    align-items: center;
}

#pp-post-and-comments {
    display: flex;
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
}

#pp-post-container {
    padding: 1rem;
}

#pp-username-and-caption p {
    padding-left: 10px;
}

#pp-username-and-caption > h3 {
    font-weight: 300;
}

#post-page-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin: 2px;
}

#pp-heart-like {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.pp-post-details {
    padding: 0px;
}

#pp-post-likes {
    margin: 2px;
}

#pp-comments-container {
    background-color: black;
    width: 20rem;
    padding: 1rem;
    color: white;
}

#add-comment-form {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

#add-comment-input {
    height: 1.5rem;
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 2px;
}

#add-comment-btn {
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: white;
    border-radius: 2px;
}

#add-comment-btn:hover {
    background-color: var(--main-pink);
}

#user-pp-delete-btn {
    border: none;
    background-color: var(--main-pink);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    color: white;
    transition: padding 200ms;
}

#user-pp-delete-btn:hover {
    padding: 7px 12px 7px 12px;
    background-color: rgba(255, 0, 106, 0.871);
}