#user-profile-info {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 5px;
}

#user-avatar-username {
    padding: 5px;
    margin: 5px;
}

#profile-default-avatar {
    width: 4rem;
    height: 4rem;
}

#user-profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-pink);
    border-radius: 3px;
    width: 6rem;
    height: 6rem;
}

#user-profile-full-name {
    margin: 0px;
}

#user-name-stats {
    margin: 1rem;
}

#user-num-stats {
    display: flex;
    margin: 0px;
}

.user-profile-info {
    display: flex;
    align-items: center;
    padding: 0px;
}

.user-num-of {
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
}

.nummy {
    font-size: large;
    margin: 0px;
    padding-right: 5px;
}

#user-edit-profile {
    margin: 1rem;
}

#user-profile-posts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-add-profile-btns {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
}

