#user-profile-info {
    display: flex;
    justify-content: center;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 5px;
}

#user-avatar-username {
    padding: 5px;
    margin: 5px;
}

#profile-default-avatar {
    width: 4rem;
    height: 4rem;
}

#user-profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    width: 6rem;
    height: 6rem;
}

#profile-avatar-img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

#user-profile-full-name {
    margin: 0px;
    font-weight: 300;
}

#user-name-stats {
    margin: 1rem 6rem 1rem 1rem;
}

#user-num-stats {
    display: flex;
    margin: 0px;
}

.user-profile-info {
    display: flex;
    align-items: center;
    padding: 0px;
}

.user-num-of {
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
}

.nummy {
    font-size: large;
    margin: 0px;
    padding-right: 5px;
}

#user-edit-profile {
    margin: 1rem 1rem 1rem 4rem;
}

#user-profile-posts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-add-profile-btns {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
}

