.post-box {
    margin-left: 2px;
    margin-right: 2px;
}

.post-box .post-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 300ms, height 300ms;
}

.post-box .post-img:hover {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
    margin: 2px;
    box-shadow: rgba(255, 0, 106, 0.512) 0px 2px 4px 0px, rgba(255, 0, 106, 0.512) 0px 2px 16px 0px;
}