body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
}

:root {
    height: 100vh;
    --main-pink: rgb(255, 0, 106);
    --dark-pink: rgb(152, 2, 65);
    --main-purple: rgb(182, 0, 253);
}

#root>ul {
    margin: 0px;
    padding: 0px;
}

