.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.128);
    padding-left: 10px;
    padding-right: 10px;
}

.material-symbols-outlined {
    font-size: 45px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}